@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient-start: #f0fdf4;
  --gradient-middle: #fffbeb;
  --gradient-end: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --gradient-app: linear-gradient(
    to bottom right,
    var(--gradient-start),
    var(--gradient-middle),
    var(--gradient-end)
  );
}

@layer base {
  body {
    background: var(--gradient-app);
    /* min-height: 100vh; */
  }

  #__next, #root {
    height: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --gradient-start: #052e16; /* dark green */
    --gradient-middle: #451a03; /* dark amber */
    --gradient-end: #0a0a0a;
  }
}